<div class="sticky-top sticky-top-offset">
    <h4 class="font-weight-bold spanborder"><span>Öne Çıkanlar</span></h4>
    <ol class="list-featured">
        {% for post in site.posts %}
        {% if post.featured %}
        <li class="mb-4">
            <span>
                <h6 class="font-weight-bold">
                    <a href="{{site.baseurl}}{{ post.url }}" class="text-dark">{{ post.title }}</a>
                </h6>
                <span class="d-block text-muted">
                    <span class="catlist">
                        {% for category in post.categories %}
                            <a class="text-capitalize text-muted smoothscroll" href="{{ category | make_category_url }}">
                                {{ category }}
                            </a>
                            <span class="sep">, </span>
                        {% endfor %}
                    </span>
                </span>
            </span>
        </li>
        {% endif %}
        {% endfor %}
    </ol>

    <h4 class="font-weight-bold spanborder"></h4>

    <h4 class="font-weight-bold spanborder"><span>Bizi takip edin</span></h4>
    <div class="mb-2">
        <a class="btn btn btn-outline-light btn-md btn-round ml-2" target="_blank" style="background-color: #3b5998;" href="{{ site.authors['kulliyetuneva'].facebook }}" role="button">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a class="btn btn btn-outline-light btn-md btn-round ml-2" target="_blank" style="background-color: #55acee;" href="{{ site.authors['kulliyetuneva'].twitter }}" role="button">
            <i class="fab fa-twitter"></i>
        </a>
        <a class="btn btn btn-outline-light btn-md btn-round ml-2" target="_blank" style="background-color: #ac2bac;" href="{{ site.authors['kulliyetuneva'].instagram }}" role="button">
            <i class="fab fa-instagram"></i>
        </a>
    </div>

    <h4 class="font-weight-bold spanborder"></h4>

    <h4 class="font-weight-bold spanborder"><span>Ziyaretçilerimiz</span></h4>
    <div class="mb-2">
        <span class="views">
            Tekil: <span id="unique-counter"></span> <br />
            Toplam: <span id="total-counter"></span>
        </span>
    </div>

</div>